@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Mulish&display=swap');

:root {
    --main-bg-color: purple;
    --font1: 'Mulish', sans-serif;
    --font2: 'DM Sans', sans-serif;
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 0px 15px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #eff294; /* Add your desired hover background color */
    color: rgb(0, 0, 0); /* Add your desired hover text color */
}

.btn:active {
    transform: scale(0.95); /* Add a slight scale-down effect on click */
}

.form-control {}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}